<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <header>
      <a href="{{ base.url }}/">
        <img src="/images/chaione.png" width="250" alt="ChaiOne">
        <span>ChaiONE Code Challenge</span>
      </a>
    </header>
    <section id="content">
      {{ content }}
    </section>

    {% include footer.html %}
  </body>
</html>
